<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9e4wFJMlra1qxDOFUnOP5PR5WmuoSdU0&libraries=places"></script>
  <title>Haunted House Locator</title>
</head>

<body>
  {{{body}}}
</body>

</html>