<div id="home">
  <div class="container">
    <div class="parallax"></div>
    <div id="mainpage">
      <p>Add searchbar here</p>
      <p>Add info here</p>
      <p>Add google map here</p>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>