body, .parallax {
  background-image: url("../images/shutterstock_559677994.0.jpg");
  background-size: 255vmin;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mainpage{
  padding: 0px;
  min-height: 1000px;
}
#map{
  height: 300px;
  width: 100%;
  margin: 20px;
  padding: 0px;
}
#searchBar{
  width: 400px;
}
.card-header button.delete,
button.edit{
  float: right;
  margin: 5px;
}
/***************************/
/* Google Map styles       */
/**************************/
p {
	font-size: 16px;
}

#locations-near-you-map {
  width: 90%;
  height: 400px;
  margin: 20px;
}

input {
	color: #000;
	height: 1.8rem;
	font-size: .9rem;
	margin: 0 5px;
	padding: 3px;
}

input[type=number] {
  width: 60px;
}

input[type=text]  {
  width: 300px;
}

button {
	background-color: #a81612;
	border-radius: 3px;
	border: none;
	color: #fff;
	padding: .5rem 1rem;
	transition: background-color 0.2s;
}

button:hover {
	background-color: #d6322d;
}

button:active {
	background-color: #000;
	color: #fff;
}

#location-search-alert {
  font-weight: 600;
  padding: 10px;
  text-align: center;
}

.infoWindow h3,
.location-near-you-box h4 {
  color: #a81612;
  font-weight: 600;
  margin-bottom: .5rem;
}

.infoWindow h3 {
	font-size: 1.2rem;
}

.infoWindow p {
	font-size: .8rem;
}

#locations-near-you {
  text-align: center;
}

.location-near-you-box {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px; 
  border: 1px dotted #000;
  border-radius: 3px;
  margin: 10px;
}

.location-near-you-box p {
  font-size: .75rem;
}

/******* For Google Reviews **********/
#map-plug {display:none;}
 
#google-reviews {
display:flex;
flex-wrap:wrap;
/*display: grid;
grid-template-columns: repeat( auto-fit, minmax(320px, 1fr));*/
}
span.review-profile-image {
    float: left;
        padding: 0px 15px 0px 0px;
}
span.review-profile-image img {
    width: 40px;
}
.modal-backdrop.in{display:none;}
.review-item {
    border-bottom: solid 1px rgba(190,190,190,.35);
    margin: 5px auto;
    display: block;
    width: 100%;
    padding: 15px 0px;
}
 
@media ( max-width:1200px) {
  .review-item { flex: 1 1 40%; }
}
 
@media ( max-width:450px) {
  .review-item { flex: 1 1 90%; }
}
 
.review-meta, .review-stars {text-align:left; font-size:115%;}
.review-author { text-transform: capitalize; font-weight:bold; }
.review-date {opacity:.6; display:block;}
.review-text {  line-height: 1.55;
    text-align: left;
    max-width: 72em;
    margin: auto;}
 
 
 
.review-stars ul {
display: inline-block;
list-style: none !important;
margin:0; padding:0;
}
 
.review-stars ul li {
float: left;
list-style: none !important;
margin-right: 1px;
line-height:1;
}
 
.review-stars ul li i {
  color: #E4B248;
  font-size: 1.4em;
  font-style:normal;
}
.review-stars ul li i.inactive { color: #c6c6c6;}
.star:after { content: "\2605"; }
