*{
  padding: 0px;
  font-family: Arial;
  box-sizing: border-box;
}
.list-group-item {
  line-height: 2.5;
}
#mainpage{
  padding: 0px;
  min-height: 1000px;
}
#map{
  height: 300px;
  width: 100%;
  margin: 20px;
  padding: 0px;
}
#searchBar{
  width: 400px;
}
.card-header button.delete,
button.edit{
  float: right;
  margin: 5px;
}