body, .parallax {
  background-image: url("../images/shutterstock_559677994.0.jpg");
  background-size: 255vmin;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mainpage{
  padding: 0px;
  min-height: 1000px;
}
#map{
  height: 300px;
  width: 100%;
  margin: 20px;
  padding: 0px;
}
#searchBar{
  width: 400px;
}
